<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5"  *ngIf="!showSupportStatus">
                <div class="card" style="border-radius: 30px;"> 
                    <div class="card-body">
                        <div class="text-center mt-2">
                            <div class="mb-3">
                                <a href="index.html" class="">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-light mx-auto">
                                </a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Forgot Password</h4>
                            <div class="alert alert-info" role="alert">
                                Enter your email and instructions will be sent to you!
                            </div>

                            <form class="form-horizontal" [formGroup]="resetForm">

                                <div class="mb-3">
                                    <label for="useremail">Email</label>
                                    <input type="email" class="form-control" id="useremail"
                                        placeholder="Enter email" formControlName="email">
                                </div>

                                <div class="mb-3 row mt-4">
                                    <div class="row mb-0">
                                        <div class="d-flex justify-content-between" style="padding-right: 0px;">
                                            <button class="btn w-100 waves-effect waves-light login" type="submit" [disabled]="!resetForm.valid" (click)="reset(resetForm.value)" >Send & Continue</button>
                                            <p class="pt-2 mb-0">
                                                 <a style="padding: 10px;background: #f3f3f3;border-radius: 5px;color: #42bfa6 !important;cursor: pointer;"  (click)="showSupportPage()">Help?</a>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            

                            </form>

                        </div>
                        <div class="alert " [ngClass]="{'alert-success':alertMessage.type == 0,'alert-danger':alertMessage.type == 1}" *ngIf="alertMessage">{{alertMessage.message}}</div>

                    </div>
                </div>
                <div class="mt-3 text-center">
                    <p>Don't have an account? <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="fw-bold text-primary" style="color: #42bfa6 !important;">Register </a> </p>
                   
                </div>

            </div>

            <div class="col-md-4 col-lg-6 col-xl-5" *ngIf="showSupportStatus">
                <app-suport></app-suport>
                <div class="mt-2 text-center">
                    <p>Forgot Password ? <a class="fw-bold" style="color: #42bfa6 !important;" (click)="showSupportPage()"> Reset </a>
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 30px;"> 
                    <div class="card-body pt-2">
                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a href="index.html" class="">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-light mx-auto">
                                </a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Reset Password</h4>
                            <div class="alert alert-info" role="alert">
                                Enter your Email and instructions will be sent to you!
                            </div>

                            <form class="form-horizontal" [formGroup]="resetForm">

                                <div class="mb-3">
                                    <label for="useremail">Email</label>
                                    <input type="email" class="form-control" id="useremail"
                                        placeholder="Enter email" formControlName="email">
                                </div>

                                <div class="mb-3 row mt-4">
                                    <div class="row mb-0">
                                        <div class="d-flex justify-content-between" style="padding-right: 0px;">
                                            <button class="btn w-100 waves-effect waves-light login" type="submit" [disabled]="!resetForm.valid" (click)="reset(resetForm.value)" >Send & Continue</button>
                                            <p class="pt-2 mb-0">
                                                 <a href="#" style="padding: 10px;background: #f3f3f3;border-radius: 5px;">Help?</a>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            

                            </form>

                        </div>

                        <div class="alert " [ngClass]="{'alert-success':alertMessage.type == 0,'alert-danger':alertMessage.type == 1}" *ngIf="alertMessage">{{alertMessage.message}}</div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>Don't have an account? <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="fw-bold text-primary" style="color: #42bfa6 !important;">Register </a> </p>
                   
                </div>

            </div>
        </div>
    </div>
</div> -->
<!-- <div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a href="index.html" class="">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                    <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-light mx-auto">
                                </a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Reset Password</h4>
                            <div class="alert alert-info" role="alert">
                                Enter your Email and instructions will be sent to you!
                            </div>

                            <form class="form-horizontal" [formGroup]="resetForm">

                                <div class="mb-3">
                                    <label for="useremail">Email</label>
                                    <input type="email" class="form-control" id="useremail"
                                        placeholder="Enter email" formControlName="email">
                                </div>

                                <div class="mb-3 row mt-4">
                                    <div class="col-12 text-center">
                                        <button class="btn w-100 waves-effect waves-light"
                                          type="submit" [disabled]="!resetForm.valid" (click)="reset(resetForm.value)" style="color:#ffffff !important;background-color:#42BFA6 !important;font-weight: 600 !important;">Send Reset
                                          Password</button>
                                         

                                            <p class="pt-4 mb-0"> 
                                                <a href="#" style="padding: 10px;background: #f3f3f3;border-radius: 5px;">Need Help?</a></p>

                                        <div class="alert " [ngClass]="{'alert-success':alertMessage.type == 0,'alert-danger':alertMessage.type == 1}" *ngIf="alertMessage">{{alertMessage.message}}</div>

                                        
                                    </div>
                                </div>
                                

                            </form>

                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>Remember It ? <a href="auth-login.html" class="fw-bold text-primary"> Sign In Here </a> </p>
                    <p>©
                        <script>document.write(new Date().getFullYear())</script> Teleperson. Crafted with <i
                            class="mdi mdi-heart text-danger"></i> by HMC3
                    </p>
                </div>

            </div>
        </div>
    </div>
</div> -->