<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box" style="padding: 0px!important;">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/layouts/small.png" alt="logo-sm-dark" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/layouts/Logo.svg" alt="logo-dark" height="50">
                    </span>
                </a>

                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/layouts/small.png" alt="logo-sm-light" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/layouts/Logo.svg" alt="logo-light" height="50">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-4 font-size-24 header-item waves-effect" id="vertical-menu-btn"  (click)="toggleLeftMenu()">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

           

        </div>

        <div class="d-flex">
            <form [formGroup]="searchForm" class="app-search d-none d-lg-block" style="position: relative;right: 8px;" (submit)="search(searchForm.value)">
                <input type="search" class="form-control bg-transparent" formControlName="search" placeholder="What do you need?" aria-label="Text input with dropdown button">
                
                <button type="submit" class="mat-icon-button" style="    position: absolute;
                z-index: 10;
                font-size: 18px;
                line-height: 38px;
                right: 10px;
                top: 17px;
                color: #74788d;
                border: none;"><span class="ri-search-line"></span></button>
            </form>
            <div class="dropdown d-inline-block d-lg-none">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="top-icon">
                        <i class="ri-search-line"></i>
                    </div>

                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">
                    <form [formGroup]="searchForm" class="p-3" (submit)="search(searchForm.value)">
                        <div class="m-0">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="What do you need?" formControlName="search" >
                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


         

            <div class="dropdown d-none d-lg-inline-block" style="display:flex !important; align-items:center;">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen" (click)="!fullScreenStatus?openFullscreen():closeFullscreen()">
                    <div class="top-icon" style="cursor:pointer;">
                        <span class="tp-wrap"> 
                            <i class="mdi mdi-fullscreen"></i>
                            <span class="tp"> Expand the page.</span>
                        </span>
                       
                    </div>
                </button>
            </div>

            <div class="dropdown d-inline-block" style="display:flex !important; align-items:center;">
                <button type="button" class="btn header-item noti-icon waves-effect"
                    id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="top-icon">
                        <i class="mdi mdi-bell"></i>
                    </div>
                    <span class="badge bg-danger rounded-pill">1</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                aria-labelledby="page-header-notifications-dropdown">
                <div class="p-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-0"> Notifications </h6>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
                <div data-simplebar style="max-height: 230px;">
                    <div class="text-reset notification-item">
                        <div class="d-flex">
                            <!-- <div class="avatar-xs me-3">
                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                    <i class="ri-shopping-cart-line"></i>
                                </span>
                            </div> -->
                            <div class="flex-1">
                                <h6 class="mt-0 mb-1">Welcome to Teleperson!</h6>
                                <div class="font-size-12 text-muted">
                                    <p class="mb-1">You are the first to experience a new age of customer service, empowering you, the customer, to control the customer service journey you deserve. Help us build something truly awesome by providing your feedback on the site <a href="https://t3syaj8fnyw.typeform.com/to/nG4MXbh2" target="_blank">here</a>.</p>
                                    <!-- <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="" class="text-reset notification-item">
                        <div class="d-flex">
                            <img src="assets/images/users/avatar-3.jpg"
                                class="me-3 rounded-circle avatar-xs" alt="user-pic">
                            <div class="flex-1">
                                <h6 class="mt-0 mb-1">James Lemire</h6>
                                <div class="font-size-12 text-muted">
                                    <p class="mb-1">It will seem like simplified English.</p>
                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="" class="text-reset notification-item">
                        <div class="d-flex">
                            <div class="avatar-xs me-3">
                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                    <i class="ri-checkbox-circle-line"></i>
                                </span>
                            </div>
                            <div class="flex-1">
                                <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                <div class="font-size-12 text-muted">
                                    <p class="mb-1">If several languages coalesce the grammar</p>
                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="text-reset notification-item">
                        <div class="d-flex">
                            <img src="assets/images/users/avatar-4.jpg"
                                class="me-3 rounded-circle avatar-xs" alt="user-pic">
                            <div class="flex-1">
                                <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                <div class="font-size-12 text-muted">
                                    <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                </div>
                            </div>
                        </div>
                    </a> -->
                </div>
            </div>
            </div>

            <div class="dropdown d-inline-block user-dropdown" style="display:flex !important; align-items:center;">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px;height: 50px;">
                    <img class="rounded-circle header-profile-user" *ngIf="profileInfo?.profile" src="{{host}}profiles/{{profileInfo?.user_id}}/{{profileInfo?.profile}}"
                        alt="Header Avatar">
                        <div *ngIf="!profileInfo?.profile" class="initials img-rounded" style="cursor: pointer;" (click)="gotoProfile()">{{getProfileInitials()}}</div>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item"  routerLink="/app/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item d-block"  routerLink="/app/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i
                            class="ri-settings-2-line align-middle me-1"></i> Settings</a>
                   
                    <a class="dropdown-item text-danger" (click)="logOut()"><i
                            class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout</a>
                </div>
            </div>
           
        </div>
    </div>
</header>



  <!-- <header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box" style="padding: 0px!important;">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/layouts/small.png" alt="logo-sm-dark" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/layouts/Logo.svg" alt="logo-dark" height="50">
                    </span>
                </a>

                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/layouts/small.png" alt="logo-sm-light" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/layouts/Logo.svg" alt="logo-light" height="50">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-4 font-size-24 header-item waves-effect" id="vertical-menu-btn" (click)="toggleLeftMenu()">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

           

        </div>

        <div class="d-flex">
            <form class="app-search d-none d-lg-block" style="position: relative;right: 8px;">
                <input type="text" class="form-control bg-transparent" placeholder="What do you need?" aria-label="Text input with dropdown button" (input)="search($event)">
               <span class="ri-mic-line"></span>

            </form>
            <div class="dropdown d-inline-block d-lg-none">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="top-icon">
                        <i class="ri-search-line"></i>
                    </div>

                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">
                    <form class="p-3">
                        <div class="m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What do you need?">
                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


         

            <div class="dropdown d-none d-lg-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <div class="top-icon">
                        <i class="mdi mdi-fullscreen"></i>
                    </div>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect"
                    id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="top-icon">
                        <i class="mdi mdi-bell"></i>
                    </div>
                    <span class="badge bg-danger rounded-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small"> View All</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="ri-shopping-cart-line"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">Your order is placed</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">If several languages coalesce the grammar</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <img src="assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">James Lemire</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">It will seem like simplified English.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="ri-checkbox-circle-line"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">If several languages coalesce the grammar</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <img src="assets/images/users/avatar-4.jpg" class="me-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-7.jpg"
                        alt="Header Avatar">
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" routerLink="/app/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="ri-wallet-2-line align-middle me-1"></i> My Wallet</a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end mt-1">11</span><i
                            class="ri-settings-2-line align-middle me-1"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="ri-lock-unlock-line align-middle me-1"></i> Lock
                        screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" (click)="logOut()"><i
                            class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout</a>
                </div>
            </div>
           
        </div>
    </div>
</header> -->
  
  <!-- <nav class="monitor-view">
    <div class="flexWrap" style="height:100%" [ngStyle]="{'justify-content':showBackButton?'space-between': 'flex-end'}">

    
    <div class="back-btn" *ngIf="showBackButton">
      <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    </div>
   
    <div class="flexWrap space-between top-btns" [ngStyle]="{'width': searchStatus? '50%':'8%'}">
      <div *ngIf="searchStatus"  class="search-wrap" style="width: 45%;">
        <input type="text" placeholder="Search in {{title}}" class="search-box" [(ngModel)]="searchText" (input)="search($event)">
        <button mat-icon-button> <img src="assets/img/search.svg" alt=""></button>
        <button mat-icon-button> <img src="assets/img/microphone.svg" alt=""></button>
      </div>
      <div class="flexWrap space-between" [ngStyle]="{'width': searchStatus? '15%':'100%'}">
        <button mat-icon-button> <img src="assets/img/notification.svg" alt=""></button>
        <div mat-card-avatar>
          <div *ngIf="!profileInfo?.profile" class="initials img-rounded" style="cursor: pointer;" (click)="gotoProfile()">{{getProfileInitials()}}</div>
          <img *ngIf="profileInfo?.profile" src="{{host}}profiles/{{profileInfo?.user_id}}/{{profileInfo?.profile}}" alt="" class="img-fluid img-rounded" style="height: 100%;width: 100%;cursor: pointer;" (click)="gotoProfile()">
        </div>
      </div>
    </div>
  </div>
    </nav>


  <nav class="mobile-view" style="background: white;">
    <div style="display: flex;align-items: center;justify-content: space-between;height: 100%;padding: 0 1rem;">
      <div class="logo" (click)="gotoDashbard()">
        <img src="assets/img/Logo.svg" alt="Logo" class="img-fluid" (click)="gotoProfile()">
      </div>
  
      <div class="flexWrap space-between" style="width:40%">
        <button mat-icon-button class="header-icon-btns">
          <mat-icon>notifications_none</mat-icon>
        </button>
        <div mat-card-avatar><img src="assets/img/avatar.svg" alt="" class="img-fluid"></div>
        <div><button mat-icon-button (click)="openMenu()"><img src="assets/img/mobile_icons/menu.svg" alt="" class="img-fluid"></button></div>
      </div>
    </div>
  </nav>

  <div class="back-btn mobile-view" *ngIf="showBackButton">
    <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  </div> -->