<div class="account-pages my-5 pt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5" *ngIf="!showSupportStatus">
              <div class="card" style="border-radius: 30px;">
                  <div class="card-body pt-2">
                      <div class="text-center mt-4">
                          <div class="mb-3">
                              <a href="index.html" class="">
                                  <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                  <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-light mx-auto">
                              </a>
                          </div>
                      </div>
                      <div class="p-3">
                          <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Reset Password</h4>
                          <!-- <div class="alert alert-info" role="alert">
                              Enter your Email and instructions will be sent to you!
                          </div> -->

                          <form class="form-horizontal" [formGroup] = "passwordForm">

                              <!-- <div class="mb-3">
                                  
                                  <input type="password" class="form-control" id="useremail"
                                      placeholder="Current Password">
                              </div> -->
                              <!-- <div class="mb-3"> -->
                                  <!-- <label for="useremail">Current Password</label> -->
                                  <!-- <input type="password" class="form-control" id="useremail"
                                      placeholder="New Password" formControlName = 'new_password'> -->
                                <div  class="mb-3" style="position: relative;">
                                    <input [type]="passwordType1" class="form-control" id="userpassword"
                                        placeholder="New password" formControlName="new_password">
                                    <i *ngIf="passwordType1 == 'password'" class="ri-eye-line eye-hide-show" (click)="showPassword1('text')"></i>
                                    <i *ngIf="passwordType1 == 'text'" class="ri-eye-off-line eye-hide-show" (click)="showPassword1('password')"></i>
                                </div>
                              <!-- </div> -->
                              <div class="mb-3">
                                  <!-- <label for="useremail">Current Password</label> -->
                                  <div style="position: relative;">
                                    <input [type]="passwordType2" class="form-control" id="useremail"
                                      placeholder="Confirm Password" matInput formControlName = 'confirm_password' [errorStateMatcher]="matcher">
                                      <i *ngIf="passwordType2 == 'password'" class="ri-eye-line eye-hide-show" (click)="showPassword2('text')"></i>
                                    <i *ngIf="passwordType2 == 'text'" class="ri-eye-off-line eye-hide-show" (click)="showPassword2('password')"></i>
                                  </div>
                                  <div class="error" *ngIf="passwordForm.hasError('notSame')">Passwords do not match</div>
                                  <div class="error" *ngIf="passwordForm.controls.new_password?.errors?.pattern">
                                    Password should contain a capital letter, a small letter, a number and a special character
                                  </div>
                                  <div class="error" *ngIf="passwordForm.controls.new_password?.errors?.minlength">
                                    Password should be minimum 8 characters
                                  </div>
                              </div>

                              <div class="mb-3 row mt-4">
                                  <div class="row mb-0">
                                      <!-- <div class="d-flex justify-content-between" style="padding-right: 0px;"> -->
                                        <div class="d-flex justify-content-between">
                                              <button class="btn w-100 waves-effect waves-light login" type="submit" [disabled] = "!passwordForm.valid" (click)="updatePassword(passwordForm.value)">Let's Go!</button>
                                            <!-- <button class="btn w-100 waves-effect waves-light login" type="submit" [disabled] = "!signupForm.valid" (click)="signup(signupForm.value)">Register</button> -->
                                            <p class="pt-3 mb-0"> <a style="padding: 10px;background: #f3f3f3;border-radius: 5px;color: #42bfa6 !important;cursor: pointer;" (click)="showSupportPage()">Help?</a></p>
                                        </div>
                                      <!-- </div> -->
                                  </div>
                              </div>
                             

                          </form>

                      </div>

                  </div>
              </div>
              <div class="mt-5 text-center">
                  <p>Do you remember it? <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="fw-bold text-primary" style="color: #42bfa6 !important;">Sign In</a> </p>
                
              </div>

          </div>
          <div class="col-md-4 col-lg-6 col-xl-5" *ngIf="showSupportStatus">
            <app-suport></app-suport>
            <div class="mt-2 text-center">
                <p>Forgot Password ? <a class="fw-bold" style="color: #42bfa6 !important;" (click)="showSupportPage()"> Reset </a>
                </p>
               
            </div>
        </div>
      </div>
  </div>
</div>
<!-- <div class="account-pages my-5 pt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card">
                  <div class="card-body">
                      <div class="text-center mt-4">
                          <div class="mb-3">
                              <a href="index.html" class="">
                                  <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                  <img src="assets/images/layouts/Logo.svg" alt="" height="50" class="auth-logo logo-light mx-auto">
                              </a>
                          </div>
                      </div>
                      <div class="p-3">
                          <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Reset Password</h4>

                          <form class="form-horizontal" [formGroup] = "passwordForm">

                              <div class="mb-3">
                                  <input type="password" class="form-control" id="useremail"
                                      placeholder="New password" formControlName = 'new_password'>
                              </div>
                              <div class="mb-3">
                                  <input type="password" class="form-control" id="useremail"
                                      placeholder="Confirm password" matInput formControlName = 'confirm_password' [errorStateMatcher]="matcher">
                                      <div class="error" *ngIf="passwordForm.hasError('notSame')">Passwords do not match</div>
                              </div>

                              <div class="mb-3 row mt-4">
                                  <div class="col-12 text-center">
                                      <button class="btn w-100 waves-effect waves-light"
                                          type="submit"   style="color:#ffffff !important;background-color:#42BFA6 !important;font-weight: 600 !important;" [disabled] = "!passwordForm.valid" (click)="updatePassword(passwordForm.value)">Save Password</button>

                                          <p class="pt-4 mb-0"> 
                                              <a href="#" style="padding: 10px;background: #f3f3f3;border-radius: 5px;">Need Help?</a></p>
                                  </div>
                              </div>
                              

                          </form>

                      </div>

                  </div>
              </div>
              <div class="mt-5 text-center">
                  <p>Remember It ? <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="fw-bold text-primary"> Sign In Here </a> </p>
                  <p>©
                      <script>document.write(new Date().getFullYear())</script> Teleperson. Crafted with <i
                          class="mdi mdi-heart text-danger"></i> by HMC3
                  </p>
              </div>

          </div>
      </div>
  </div>
</div> -->

<!-- 
<app-header [type]="type"></app-header>
<div class="main-wrap">

  <div class="container login-container" id="container">
    <div class="overlay-panel">
      <form [formGroup] = "passwordForm" #formDirective="ngForm">
        <h1>Reset Password?</h1>
        <span>Enter a new password for {{email}}.</span>
        <span>Make sure to include at least 8 characters</span>

        <div class="form-wrap">
    
          <div class="input-wrappper">
            <img src="/assets/img/login_pass.svg" alt="">
            <input [type]="passStatus?'text':'password'"  required placeholder="New Password" formControlName = 'new_password'/>
            <button mat-flat-button style="color:#42BFA6" (click)="showPass()">{{(passStatus)?'Hide':'Show'}}</button>
          </div>
          <div class="input-wrappper">
            <img src="/assets/img/login_pass.svg" alt="">
            <input [type]="passStatus1?'text':'password'" matInput  required placeholder="Confirm Password" formControlName = 'confirm_password' [errorStateMatcher]="matcher" />
            <button mat-flat-button style="color:#42BFA6" (click)="showPass1()">{{(passStatus1)?'Hide':'Show'}}</button>
            <div class="error" *ngIf="passwordForm.hasError('notSame')">Passwords do not match</div>
          </div>

 
          <div class="btn-wrap">
'            <button type="submit" class="focussable sbt-button" [disabled] = "!passwordForm.valid" (click)="updatePassword(passwordForm.value)">Reset</button></div>
          <div class="sign-up">
            <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>Or <b style="color:#42BFA6">Sign in</b></span></a>
            <div class="help"><img src="/assets/img/help.svg" alt=""></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->